@media (max-width: 768px) {

    /* header */

    .header{
        height: 72px;
        margin: 50px 13px 0 12px;
    }
    
    .header 
    .container {
        width: 100%;
        padding: 12px 22.5px;
    }

    .header 
    .container .logo{
        width: 95px;
        height: 47px;
    }
    
    
    .langFlag{
        gap: 5.25px;
    }

    .langFlag .flag{
        width: 27px;
        height: 18px;
    }

    /* section1 */

    .section1{
        flex-direction: column-reverse;
        gap: 0;
        margin: 0px 16px 0 9px;
    }
    
    .section1 .container{
        max-width: 606px;
        margin-top: -20px;
        padding: 0 4px 0 11px;
        
    }
    
    .section1 .container .orangeText{
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .section1 .container h1{
        font-size: 36px;
        line-height: 36px;
    }

    .section1 .container h1 span{
        font-size: 32px;
    }
    
    .checkBlock{
        text-wrap: nowrap;
        max-width: 297px;
        margin-top: 30px;
    }
    
    .checkCard{
        font-size: 16px;
        gap: 5.9px;
        padding: 11.8px 33.7px 11.8px 16.85px;
        margin: 7px 7px 0 0;
    }
    
    .buttonHref{
        font-size: 18px;
        margin-top: 40px;
        padding: 17px 38px 18px 38px;
        gap: 121px;
        text-wrap: nowrap;
    }
    
    .illustration{
        width: 350px;
        height: 350px;
    }

    /* section2 */

    .slanted-background{
        margin-top: 90px;
    }
    
    .slanted-background .slanted-container{
        flex-direction: column-reverse;
        gap: 0;
        margin: 0 16px 0 9px;
    }
    
    .slanted-container .container{
        max-width: 571px;
        display: flex;
        flex-direction: column;
        margin-top: -60px;
    }
    
    .slanted-container .container h2{
        font-size: 36px;
        max-width: 335px;
        padding-top: -20px;
    }
    

    .slanted-container .container .underline{
        font-size: 20px;
        line-height: 34px;
        margin-top: 20px;
    }
    
    .slanted-container .container .woutline{
        width: 335px;
    }
    
    .buttonHrefBlack{
        margin-top: 30px;
    }
    
    .illustration2{
        width: 350px;
        height: 350px;
        margin-top: 25px;
    }

    /* section3 */
    .slanted-background2{
        /* padding-bottom: 735px; */
    }

    .slanted-background2 .slanted-container{
        flex-direction: column;
        gap: 55px;
        margin: -50px 20px 0 20px;
        align-items: start;
        padding-top: 135px;
    }

    .slanted-background2 .slanted-container .container  {
        display: flex;
        flex-direction: column;
    }

    .orangeSmallText{
        font-size: 20px;
        letter-spacing: 0.4px;
        margin-bottom: 20px;
    }

    .slanted-background2 .slanted-container .container h2{
        font-size: 36px;
        padding: 0;
    }

    .buttonHrefWhite{
        margin-top: 30px;
        margin-bottom: 55px;
    }

    /* остановился тут */

    .cardsContainer {
        flex-direction: column;
    }

    .leftCards, .rightCards {
        flex-direction: column;
        gap: 0;
    }

    .leftCards .card:nth-child(1) { order: 1; }
    .rightCards .card:nth-child(1) { order: 2; }
    .leftCards .card:nth-child(2) { order: 3; }
    .rightCards .card:nth-child(2) { order: 4; }

    .cardsContainer > * {
        display: contents;
    }

    .card{
        max-width: 325px;
        height: 371px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        white-space: nowrap;
        border-radius: 60px;
        padding: 50px 50px 56px 50px;
    }

    .card img{
        margin-bottom: 24px;
    }

    .card h2{
        font-size: 66px;
    }

    .card h3{
        font-size: 22px;
        margin-top: 12.5px;
        margin-bottom: 17px;
    }

    .card h4{
        font-size: 18px;
        margin-bottom: 2px;
    }

    .card p{
        font-size: 16px;
    }

}