.section5{
    margin-top: -300px;
}

.section5 .slanted-background{
    
}

.section5 .slanted-background .slanted-container{
    padding-top: 300px;
}

.section5 .slanted-background .slanted-container .container{}

.checkBlock2{
    width: 624px;
}

.illustration3{
    width: 100%;
    height: auto;
    margin-top: 300px;
}